{% extends "base.html" %}

{% block title %}Cadastrar Produto{% endblock %}

{% block content %}
<h1>Cadastro de Produto</h1>

<form actions="/produtos" method="Post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome"> 
    <label for="descricao">Descricao</label>
    <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>

    <label for="preco">Preco</label> <br>
    <input type="text" name="preco" id="preco"> <br>

    <label for="imagem">Url da Imagem</label> <br>
    <input type="text" name="imagem" id="imagem"> <br>

    <button type="submit">Cadastrar</button>

</form>

{% endblock %}
