{% extends "base.html" %}

{% block title %}Cadastro Produto{% endblock %}

{% block content %}
<h1>Cadastro de Produto</h1>
<form action="/produtos" method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">

    <label for="descricao">Descrição</label>
    <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>

    <label for="preco">Preço</label>
    <input type="text" name="preco" id="preco">

    <label for="imagem">Imagem</label>
    <input type="text" name="imagem" id="imagem">
    
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}